﻿

/*body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input[type=submit] {
  width: auto;
}

input, textarea {
  font-size: 18px;
  width: 200px;
}

label {
  font-size: 16px;
}

#theForm {
  background-color: #d0d0d0;
}

  #theForm input[type=submit] {
    background-color: green;
    color: white;
  }

ul.product-props {
  font-size: small;
}

  ul.product-props li {
    list-style-type: none;
  }

.product-info {
  border: 1px solid grey;
  display: inline-block;
  padding: 8px 2px;
  margin: 2px;
  width: 450px;
  background-color: lightgray;
  border-radius: 5px;
}

  .product-info img {
    margin: 3px;
    float: left;
    border: 1px solid black;
    max-width: 150px;
  }


  menu>ul>li {
      display: inline
  }

  menu li::after{
      content: ' |';
  }
  menu li:last-of-type::after {
      content: '';
  }*/